/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

 * {
  background-color:darkgrey;
  border: 1px dotted black;
}
.table {
  background-color: whitesmoke;
}
